{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "browsers": ["> 1%", "ie >= 11"]
        },
        "useBuiltIns": "usage",
        "modules": "commonjs"
      }
    }]
  ]
}
